<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/">Home</a>
    <a href="/FirstWin">First Win</a>
    <a href="/Location">Killer Location</a>
    <a href="/Shortest">Shortest</a>
    <a href="/MostKills">Most Kills</a>
    <a href="/Clutch">Clutch</a>
  </div>
</div>
<body>
  <br>
  {{{body}}}
  <br><br><br>
  <button onclick="window.location.href = '/addwin';">Add Win</button>
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#createNew1').on('click', function() {
      alert();
    });
    
    $('#addWin').on('click', function(){
    });
  </script>
</body>

</html>
